.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  gap: 1.5rem;
  padding: 0.8rem 0.8rem;
  height: 60px;
  position: sticky;
  z-index: 10000;
}

.navbar.sticky {
  background-color: var(--background);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navItems {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.navItem {
  position: relative;
  display: inline-block;
}

.navItem::after {
  content: '';
  height: 2px;
  width: calc(100% - 2rem);
  background: var(--foreground);
  position: absolute;
  left: 2rem;
  bottom: -3px;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.navItem:hover::after {
  transform: scaleX(1);
}

.navLink {
  text-decoration: none;
  color: var(--foreground);
  margin-left: 2rem;
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.navLink.current,
.navLink:hover {
  font-weight: bold;
}

.menu {
  background: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 1;
}

.menu.open {
  clip-path: inset(0 0 0 0);
}

.menu.closing {
  clip-path: inset(100% 0 0 0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: 0.3s;
}

.menu.open ul {
  opacity: 1;
  transform: translateY(0);
}

.menu.closing ul {
  opacity: 0;
  transform: translateY(-20px);
}

.menu ul li {
  margin: 1.5rem 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.menu.open ul li {
  opacity: 1;
  transform: translateY(0);
}

.menu.closing ul li {
  opacity: 0;
  transform: translateY(-20px);
}

.menu ul li:nth-child(1) {
  transition-delay: 0.1s;
}

.menu ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.menu ul li:nth-child(4) {
  transition-delay: 0.4s;
}

.menu ul li a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 2rem;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.menu.open ul li a {
  opacity: 1;
  transform: translateY(0);
}

.menu.closing ul li a {
  opacity: 0;
  transform: translateY(-20px);
}

.menu ul li a:hover {
  color: var(--primary);
}

@media (max-width: 768px) {
  .navbar{
    gap: 0rem;
  }
}
