.themeToggle {
  display: flex;
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.themeToggle:hover {
  background-color: var(--hover);
}

.icon {
  height: 24px;
  width: 24px;
  filter: invert(16%) sepia(0%) saturate(37%) hue-rotate(179deg) brightness(86%) contrast(89%);
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.icon.dark {
  filter: invert(100%) sepia(5%) saturate(8%) hue-rotate(356deg) brightness(112%) contrast(86%);
  transform: rotate(0deg);
}
