.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 500px;
  background-color: var(--card-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  color: #fbc02d;
}

.description {
  margin: 12px 0;
  font-size: 0.9rem;
  color: var(--secondary);
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
}

.languageIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--hover);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.languageIcon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.tags {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.tag {
  background-color: var(--tag-color);
  color: var(--accent);
  padding: 6px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
}

.cta {
  display: flex;
  gap: 0.5rem;
}

.ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ctaButton.github {
  color: var(--foreground);
  border-color: #c0c0c0;
}

.ctaButton.visit {
  background-color: var(--foreground);
  color: var(--card-color);
  border-color: var(--foreground);
}

.ctaButton.github:hover {
  background-color: var(--hover);
}

.ctaButton.visit:hover {
  filter: brightness(1.4);
}
