@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --background: #f2f2f7;
  --foreground: #2d2d2d;
  --secondary: #636366;
  --hover: rgba(0, 0, 0, 0.1);
  --accent: #007bff;
  --card-color: white;
  --tag-color: rgba(219, 219, 219, 0.4);
  --font: -apple-system, BlinkMacSystemFont, "Inter";
  color-scheme: light;
}

.dark {
  --background: #1f1f1f;
  --foreground: #ededed;
  --secondary: #C7C7CC;
  --hover: rgba(255, 255, 255, 0.1);
  --card-color: #2D2C2C;
  --tag-color: rgba(82, 82, 82, 0.4);
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  transition: background 0.3s ease, color 0.3s ease;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hamburger-react {
  z-index: 10000;
}
